

body {
	/*background-color: tomato;*/
	text-align: center;
	padding-top: 80px;
}


h1 {
	color: white;
	border-left: 2px solid black;
	padding: 0px 2%;
	display: inline;
	font-size: 50px;
}

h2 {
	border: 1px solid black;
	display: inline;
	padding: 10px;
	padding-right: 50px;
	border-width: 5px;
	cursor: crosshair;

}

div {
	height: 300px;
	width: 800px;
	background-color: #47e3ff;
	/*margin: auto;*/
	margin: auto;
	padding-top: 5%;
}

input {
	margin: 10px; 
	height: 40px;
	width: 90%;
	border: 1px solid transparent;
	display: block;
	border-radius: 10px;
	margin: auto;
	margin-top: 6%;
	font-size: 40px;
	padding-left: 2%;
	font-family: 'Roboto', sans-serif;
	transition: all .15s ease-out;
}

input:hover {
	transform:scale(1.01);
	transform: scaleY(1.2);
	font-size: 35px;
	padding-left: .5%;
	width: 89%;
	
}

input:focus {
	outline: none;
}


.skewBtn{
	margin-top: 5%;
    width: 180px;
    height: 80px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: .5s;
    font-size: 28px;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
}

.skewBtn:hover {
	border: none;
      color: white;
      font-size: 24px;
      transform:scale(1.1);

}


.purple-border{
  border: 2px solid black;
  color: white;
}

.purple-background:hover {
    background-color: tomato;
  }

.div2 {
	background-color: white;
}

img {
	width: 400px;
	filter: blur(35px);
	transition: 1s ease-out;
	margin-top: 12%;
	height: 550px
}

img:hover {
	filter: blur(0px);
	cursor: crosshair;
}
p {
	line-height: 1.5;
	word-spacing: 1.5px;
	font-size: 20px;
	text-align: left;
	margin-bottom: 15%;
	/*background-image: linear-gradient(to right, #ff0074 , rgb(253, 153, 39));*/
	background: -webkit-linear-gradient(left,rgb(20,20,20),rgb(61, 61, 61) 57%,rgb(112,112,112) 100%);
	-webkit-background-clip: text;
	font-family: 'Roboto', sans-serif;
	color: transparent;
}

p span {
	background-color: #c0c0c0;
	padding: 5px 3px;
	color: white;
}


.blur-over {
	border: 1px solid black;
	border-radius: 20px;
	height: 150px;
	width: 25%;
	position: relative;
	top: -730px;
	left: -80px;
	background-color: white;
	opacity: .8;
	filter: blur(5px;);

}


.ethos {
	margin-top: 15%;
	width: 800px;
	height: 425px;
	background: linear-gradient(to right, rgb(252, 30, 102) , rgb(253, 153, 39));
	position: relative;
}

.ethos:before, .ethos:after {
	z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #bcbcbc;
  -webkit-box-shadow: 0 20px 20px #bcbcbc;
  -moz-box-shadow: 0 20px 20px #bcbcbc;
  box-shadow: 0 20px 20px #bcbcbc;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.ethos:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}



.dot {
  height: 25px;
  width: 25px;
  background-color: #c2c2c2;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 2px;
  /*border: 4px solid transparent;*/
  transition: all .1s ease-in;
  cursor: default;
}

.dot:hover {
	/*background: linear-gradient(to left, rgb(252, 30, 102) , rgb(253, 153, 39)); */
	transform: scale(1.15);
	/*border: 4px solid #c2c2c2;*/
	background-color: #a9a9a9;

}

.fa-circle-notch {
	position: relative;
	width: 25%;
	top: 20%;
	left: 60%;
	display: block;
	font-size: 150px;
	color: #e0ee48;
	transition: .5s ease-out;
	cursor: progress;
}

.fa-circle-notch:hover {
	color: #fff;
	transform: rotate(-40deg);

}

.fa-asterisk {
	position: relative;
	width: 25%;
	left: 60%;
	display: block;
	font-size: 150px;
	color: #e0ee48;
	transition: 5s ease-out;
}

.fa-asterisk:hover {
	color: #fff;
	transform: rotate(740deg);
}

.ethos-green {
	margin-top: 15%;
	width: 800px;
	height: 425px;
	background: linear-gradient(to right, rgb(43, 254, 188) , rgb(33, 206, 171));
	position: relative;
}

.ethos-green:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}


.box {
  background: #2ba2fe;
  border-radius: 5px;
  display: inline-block;
  margin: 20px;
  height: 80px;
  width: 110px;
  margin-top: 10%;
}

.ethos-green:hover .box {
	transform: scale(1.2);
	cursor: all-scroll;
}


.box-1 {
  transition: all 1.3s;
  background-color: #2ba2fe;

}

.box-2 {
  transition: all 1s 0.5s;
  background-color: #44adfe;
}

.box-3 {
  transition: all 1.3s 1s;
  background-color: #5eb8fe;
 }

 .ethos-green:hover .box-1 {
 	background-color: #01db97;
 	
 }

 .ethos-green:hover .box-2 {
	background-color: #01f5a9;
}

.ethos-green:hover .box-3 {
	background-color: #12feb4;
}

.ethos-blue {
	margin-top: 15%;
	width: 800px;
	height: 425px;
	background: linear-gradient(to right, #00ffd5, #00aaff);
}

.ethos-yellow {
	margin-top: 15%;
	width: 800px;
	height: 425px;
	background: linear-gradient(to left, #aaff00, #00ff55);  
}

.ethos-red {
	margin-top: 15%;
	width: 800px;
	height: 425px;
	background: linear-gradient(to right,  #cb03a8, #fc1f67);
}



