

body {
	background-color: tomato;
	text-align: center;
	padding-top: 80px;
}


h1 {
	color: white;
	border-left: 2px solid black;
	padding: 0px 2%;
	display: inline;
	font-size: 50px;
}

h2 {
	border: 1px solid black;
	display: inline;
	padding: 10px;
	padding-right: 50px;
	border-width: 5px;
	cursor: crosshair;

}

div {
	height: 300px;
	width: 800px;
	background-color: #47e3ff;
	/*margin: auto;*/
	margin: auto;
	padding-top: 5%;
}

input {
	margin: 10px; 
	height: 40px;
	width: 90%;
	border: 1px solid transparent;
	display: block;
	border-radius: 10px;
	margin: auto;
	margin-top: 6%;
	font-size: 40px;
	padding-left: 2%;
	font-family: 'Roboto', sans-serif;
	transition: .15s ease-out;
}

input:hover {
	transform:scale(1.01);
	font-size: 35px;
	padding-left: .5%;
	width: 89%;
}


.skewBtn{
	margin-top: 5%;
    width: 180px;
    height: 80px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: .5s;
    font-size: 28px;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
}

.skewBtn:hover {
	border: none;
      color: white;
      font-size: 24px;
      transform:scale(1.1);

}


.purple-border{
  border: 2px solid black;
  color: white;
}

.purple-background:hover {
    background-color: tomato;
  }

.div2 {
	background-color: white;
}

img {
	width: 800px;
	filter: blur(35px);
	transition: 2.3s ease-out;
}

img:hover {
	filter: blur(0px);
}
p {
	line-height: 1.5;
	word-spacing: 1.5px;
}


.blur-over {
	border: 1px solid black;
	border-radius: 20px;
	height: 150px;
	width: 25%;
	position: relative;
	top: -730px;
	left: -80px;
	background-color: white;
	opacity: .8;
	filter: blur(5px;);
}






